<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/estilo.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="icon" href="static/img/calendario.png">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#meuFormulario').submit(function (event) {
                event.preventDefault(); // Impede o envio do formulário
                exibirModalConfirmacao();
            });

            function exibirModalConfirmacao() {
                $('#modal-confirmacao').modal('show'); // Exibe a modal de confirmação
            }

            $('#confirmar-delecao').click(function () {
                $('#meuFormulario').off("submit").submit(); // Submete o formulário
                $('#modal-confirmacao').modal('hide'); // Fecha a modal de confirmação
            });

            $('#cancelar-delecao').click(function () {
                $('#modal-confirmacao').modal('hide'); // Fecha a modal de confirmação
            });
            $("#voltar").click(function () {
                window.location.href = '/'
            })
        });
    </script>
    <title>Cadastro de Eventos</title>
</head>

<body>
    <header class="cabecalho">
        <h1>Cadastro de Eventos</h1>
    </header>
    <div class="centralizar">
        <div th:if="${error != null}" class="mensagem_negativa">
            <b th:text="${error}"></b>
        </div>
    </div>
    <main class="corpo2">

        <section class="formulario">
            <form id="meuFormulario" action="/salvar" method="POST" class="formulario">
                <div class="campos">
                    <label class="campo"> Nome<div style="color: brown;font-weight: bold;">*</div> : &nbsp;<input
                            type="text" value="" name="nome" placeholder="Nome do evento" /></label>
                    <label class="campo">Local<div style="color: brown;font-weight: bold;">*</div> : &nbsp;<input
                            type="text" value="" name="local" placeholder="Local do evento" required /></label>
                    <label class="campo">Data<div style="color: brown;font-weight: bold;">*</div> : &nbsp;<input
                            type="date" value="" name="data" required /></label>
                    <label class="campo">Horario<div style="color: brown;font-weight: bold;">*</div> : &nbsp;<input
                            type="time" value="" name="horario" required /></label>
                    <div class="height3"></div>
                    <button type="submit" class="botao_enviar">Salvar</button>
                    <button type="button" class="botao_voltar" id="voltar" onclick="voltar()">Voltar</button>
                </div>
            </form>
        </section>
    </main>
    <!-- Modal de Confirmação -->
    <div id="modal-confirmacao" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Confirmação de Deleção</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Você tem certeza que deseja adicionar este evento?</p>
                </div>
                <div class="modal-footer">
                    <button id="confirmar-delecao" type="button" class="btn btn-success">Confirmar</button>
                    <button id="cancelar-delecao" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
    <footer class="rodape">
        <div class="textoRodape">
            &copy; todos os direitos reservados.
        </div>
    </footer>
</body>

</html>